.card-img{
    width:40px;
    height:170px;
    margin: auto;
    padding: 3% 0;
    object-fit: contain;
}

.card{
    margin-top: 12%;
}
.containerCard{
    margin: 5% 1%;
    display: flex;
    margin:auto;
    margin-right:0;

}

.container-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-item{
    border-radius: 100% !important;
    border: none;
    padding: 2% 7%;
}

.btn-subtract{
    background-color:#fff;
    border: 1px solid #999;
    color: #999;
    fill: #000;
}

.counterItem{
   color:#0d6efd;
   font-weight: bold;
}

